*{
    font-family: "Bebas Neue";
    color: rgb(215, 97, 97);
}

body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/aang.jpeg);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.weatherDiv{
    display: flex;
    position: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.weatherDiv div{
    margin-top: 1em;
    font-family: "Bebas Neue";
    font-size: 3em;
}

.weatherDiv button{
    margin-top: 1em;
    font-family: "Bebas Neue";
    font-size: 2em;
}
.hide{
    display: none;
}